<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="banner"
     class="banner_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital_main">
                                <div class="opacity">
                                    <h1 class="banner_taital" th:text="#{banner_title_one}">FIND A PLACE TO STAY</h1>
                                    <p class="banner_text" th:text="#{banner_subtitle_one}">See all available accommodation, where you will travel.</p>
                                    <div class="btn_main">
                                        <div class="started_text"><a th:href="@{/housing/rental}" th:text="#{banner_button_one}">Find places</a></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital_main">
                                <div class="opacity">
                                    <h1 class="banner_taital" th:text="#{banner_title_two}">VISIT LOCAL SIGHTS, MUSEUMS, AND EVENTS</h1>
                                    <p class="banner_text" th:text="#{banner_subtitle_two}">You can purchase a ticket through us, where one is
                                        required. </p>
                                    <div class="btn_main">
                                        <div class="started_text"><a th:href="@{/attractions/list}" th:text="#{banner_button_two}">Find amusement</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital_main">
                                <div class="opacity">
                                    <h1 class="banner_taital" th:text="#{banner_title_three}">RENT A CAR</h1>
                                    <p class="banner_text" th:text="#{banner_subtitle_three}">Travel anywhere in comfort with a rental car, provided by
                                        us.</p>
                                    <div class="btn_main">
                                        <div class="started_text"><a th:href="@{/car/rental}" th:text="#{banner_button_three}">See Cars</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
</body>
</html>