<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Details Fields</title>
</head>
<body>
<div th:fragment="car_details_fields">
    <p><strong th:text="#{car_details_fields_make}">Make:</strong> <span th:text="*{make}"></span></p>
    <p><strong th:text="#{car_details_fields_model}">Model:</strong> <span th:text="*{model}"></span></p>
    <p><strong th:text="#{car_details_fields_engine}">Engine:</strong> <span th:text="#{|car.engine.*{engine}|}"></span></p>
    <p><strong th:text="#{car_details_fields_doors}">Doors:</strong> <span th:text="*{doors}"></span></p>
</div>
</body>
</html>