<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City Filter</title>
</head>
<body>
<div th:fragment="city_filter(cities, refPropertyAddLink)">
<div class="filter_section">
    <label for="cityFilter" th:text="#{city_filter_label}">Filter by city:</label>
    <select id="cityFilter" class="nice-select">
        <option value="all" th:text="#{city_filter_all_cities}">All Cities</option>
        <option th:each="city : ${cities}"
                th:value="${city}"
                th:text="${city}">
        </option>
    </select>
    <div class="create-box">
        <span th:if="${refPropertyAddLink == '/housing/add'}" class="place" th:text="#{city_filter_place_to_rent}">You have a place to rent? </span>
        <span th:if="${refPropertyAddLink == '/car/add'}" class="place" th:text="#{city_filter_car_to_rent}">You have a car to rent? </span>
        <a th:href="@{${refPropertyAddLink}}" class="create text-black text-small" th:text="#{city_filter_new_add}"> Create new ad</a>
    </div>
</div>
</div>
</body>
</html>