<!DOCTYPE html>
<html lang="en" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <title>City Filter</title>
</head>
<body>
<div th:fragment="city_filter(cities, refAddLink)">
<div class="filter_section">
    <label for="cityFilter" th:text="#{city_filter_label}">Filter by city:</label>
    <select id="cityFilter" class="nice-select">
        <option value="all" th:text="#{city_filter_all_cities}">All Cities</option>
        <option th:each="city : ${cities}"
                th:value="${city}"
                th:text="#{|city.filter.${city}|}">
        </option>
    </select>
    <div class="create-box">
        <span th:if="${refAddLink == '/housing/add'}" class="place" th:text="#{city_filter_place_to_rent}">You have a place to rent? </span>
        <span th:if="${refAddLink == '/car/add'}" class="place" th:text="#{city_filter_car_to_rent}">You have a car to rent? </span>
        <span th:if="${refAddLink == '/attraction/add' or refAddLink == '/event/add'}" sec:authorize="hasRole('ADMIN')" class="place" th:text="#{city_filter_add_new_attraction}">Add new attraction? </span>
        <a th:href="@{${refAddLink}}"
           class="create text-black text-small"
           th:if="${refAddLink == '/housing/add' or
                    refAddLink == '/car/add' or
                    refAddLink == '/attraction/add' and #authorization.expression('hasRole(''ADMIN'')') or
                    refAddLink == '/event/add' and #authorization.expression('hasRole(''ADMIN'')')}"
           th:text="#{city_filter_new_add}"> Create new ad</a>
    </div>
</div>
</div>
</body>
</html>