<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer_section" class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location_text row">
                    <ul>
                        <li>
                            <a href="#"><span class="padding_15"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                <br th:text="#{footer_section_call}"></a>
                        </li>
                        <li>
                            <a href="#"><span class="padding_15"><i class="fa fa-envelope"
                                                                    aria-hidden="true"></i></span>
                                <br>travelnest@gmail.com</a>
                        </li>
                        <li>
                            <a href="#"><span class="padding_15"><i class="fa fa-map-marker"
                                                                    aria-hidden="true"></i></span>
                                <br th:text="#{footer_section_location}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="useful_text" th:text="#{footer_section_links}">QUICK LINKS</h2>
                    <div class="footer_menu">
                        <ul>
                            <li><a th:href="@{/}" th:text="#{footer_section_home}">Home</a></li>
                            <li><a th:href="@{/about}" th:text="#{footer_section_about}">About</a></li>
                            <li><a th:href="@{/services}" th:text="#{footer_section_services}">Services</a></li>
                            <li><a th:href="@{/contact}" th:text="#{footer_section_contact.us}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="useful_text" th:text="#{footer_section_portfolio}">Work Portfolio</h2>
                    <p class="lorem_text" th:text="#{footer_section_text}"></p>
                </div>
                <div class="col-md-4">
                    <h2 class="useful_text" th:text="#{footer_section_newsletter}">SIGN UP TO OUR NEWSLETTER</h2>
                    <div class="form-group">
                        <textarea class="update_mail" th:text="#{footer_section_placeholder}" rows="5" id="comment"
                                  name="Enter Your Email"></textarea>
                        <div class="subscribe_bt"><a href="#" th:text="#{footer_section_subscribe}">Subscribe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>