<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Housing Fields</title>
</head>
<body>
<div th:fragment="housing_fields">
    <div class="add_property_field form-group">
        <label th:for="type" th:text="#{housing.fields.type}">Type</label>
        <select class="add_property_box form-control"
                th:errorclass="is-invalid" id="type" name="type">
            <option value="" disabled selected th:text="#{housing.fields.select.type}">-Select type-</option>
            <option
                    th:field="*{type}"
                    th:each="type : ${housingTypes}"
                    th:value="${type}"
                    th:text="#{|housing.fields.${type}|}">Type
            </option>
        </select>
        <small th:errors="*{type}" class="invalid-feedback danger">Invalid Type!</small>
    </div>
    <div class="add_property_field form-group">
        <label th:for="floor" th:text="#{housing.fields.floor}">Floor</label>
        <input th:field="*{floor}"
               th:errorclass="is-invalid"
               type="number" class="add_property_box form-control" id="floor" name="floor" required>
        <small th:errors="*{floor}" class="invalid-feedback danger">Floor error
            message!</small>
    </div>
    <div class="add_property_field form-group">
        <label th:for="rooms" th:text="#{housing.fields.rooms}">Count of Rooms</label>
        <input th:field="*{rooms}"
               th:errorclass="is-invalid"
               type="number" class="add_property_box form-control" id="rooms" name="rooms" required>
        <small th:errors="*{rooms}" class="invalid-feedback danger">Rooms error
            message!</small>
    </div>
</div>
</body>
</html>