<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Travel Nest</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&family=Sen:wght@400;700;800&display=swap"
          rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css">

</head>
<body>
<!-- header top section start -->
<div th:replace="~{fragments/header_top_section::header_top_section}"></div>
<!-- header top section start -->
<!-- header section start -->
<div>
    <div th:replace="~{fragments/header_section::header_section(activeLink='register')}"></div>
</div>
<!-- header section end -->
<div class="container py-2 background">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 register-form mx-auto">
                    <!-- form card login -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0" th:text="#{register.registration}">Registration</h3>
                        </div>
                        <div class="card-body">
                            <form id="formRegister"
                                  th:method="post"
                                  th:action="@{/users/register}"
                                  th:object="${registerData}"
                                  class="formRegister">
                                <div th:if="${userOrEmailExist}" style="color: red; font-size: 15px"
                                     th:text="#{register.error.exist}">Username or
                                    email already exist!
                                </div>
                                <div class="form-group">
                                    <input th:for="username"
                                           th:field="*{username}"
                                           th:errorclass="is-invalid"
                                           class="form-control"
                                           id="name"
                                           name="name"
                                           th:placeholder="#{register.username}"
                                           type="text"
                                           required="">
                                    <i class="mdi mdi-account"></i>
                                    <small th:errors="*{username}" class="invalid-feedback danger">Username error
                                        message!</small>
                                </div>
                                <div class="form-group">
                                    <input th:for="email"
                                           th:field="*{email}"
                                           th:errorclass="is-invalid"
                                           type="email"
                                           class="form-control"
                                           th:placeholder="#{register.email}"
                                           id="email"
                                           required="">
                                    <i class="mdi mdi-email"></i>
                                    <small th:errors="*{email}" class="invalid-feedback danger">Email error
                                        message!</small>
                                </div>
                                <div class="form-group">
                                    <input th:for="password"
                                           th:field="*{password}"
                                           th:errorclass="is-invalid"
                                           type="password"
                                           class="form-control"
                                           th:placeholder="#{register.password}"
                                           required="">
                                    <i class="mdi mdi-onepassword"></i>
                                    <small th:errors="*{password}" class="invalid-feedback dander">Password error
                                        message!</small>
                                </div>
                                <div class="form-group">
                                    <input th:for="confirm-password"
                                           th:field="*{confirmPassword}"
                                           th:errorclass="is-invalid"
                                           type="password"
                                           class="form-control"
                                           th:placeholder="#{register.confirm.password}"
                                           required="">
                                    <i class="mdi mdi-textbox-password"></i>
                                    <small th:errors="*{confirmPassword}" class="invalid-feedback danger">ConfirmPassword
                                        error message!</small>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox1"
                                                   th:for="checkbox1"
                                                   th:field="*{agree}"
                                                   th:errorclass="is-invalid"
                                                   class="styled"
                                                   type="checkbox">
                                            <label>
                                                <small th:text="#{register.agree}" style="font-size: 15px">I agree with </small>
                                                <a href="#" id="popup-link" th:text="#{register.terms.service}">Terms of service</a>
                                                <div th:if="${#fields.hasErrors('agree')}" th:errors="*{agree}" id="error"></div>
                                            </label>
                                            <div class="popup-window" id="popup-window">
                                                <h1 th:text="#{register.terms.service}">Terms of service</h1>
                                                <div class="content">
                                                    <ol th:type="1">
                                                        <li th:text="#{register.terms.service.1}"> 1.</li>
                                                        <li th:text="#{register.terms.service.2}">2.</li>
                                                        <li th:text="#{register.terms.service.3}">3.</li>
                                                        <li th:text="#{register.terms.service.4}">4.</li>
                                                        <li th:text="#{register.terms.service.5}">5.</li>
                                                        <li th:text="#{register.terms.service.6}">6.</li>
                                                        <li th:text="#{register.terms.service.7}">7.</li>
                                                        <li th:text="#{register.terms.service.8}">8.</li>
                                                        <li th:text="#{register.terms.service.9}">9.</li>
                                                        <li th:text="#{register.terms.service.10}">10.</li>
                                                        <li th:text="#{register.terms.service.11}">11.</li>
                                                        <li th:text="#{register.terms.service.12}">12.</li>
                                                    </ol>
                                                    <button id="close-button" th:text="#{register.close}">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12 text-center">
                                        <button type="submit" class="btn btn-success btn-wd"
                                                id="btnRegister" th:text="#{register.register}">Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="naw-text mb-3">
                                <h5 th:text="#{register.exist}">Already in TravelNest?</h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="create-box text-block text-center my-0">
                                        <span class="text-small font-weight-semibold" th:text="#{register.member}">I'm a member ?</span>
                                        <a th:href="@{/login}" class="text-black text-small" th:text="#{login.login}">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /form card register -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->
<!-- footer section start -->
<div th:replace="~{fragments/footer_section::footer_section}"></div>
<!-- footer section end -->
<!-- copyright section start -->
<div th:replace="~{fragments/copyright_section::copyright_section}"></div>
<!-- copyright section end -->

<!-- jquery latest version -->
<script src="/js/jquery.min.js"></script>
<!-- popper.min.js -->
<script src="/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- script js -->
<script src="/js/script.js"></script>
<script src="/js/popup-box.js"></script>
</body>
</html>